@font-face {
    font-family: 'credit_cardregular';
    src: url('fonts/creditCardFont.woff') format('woff2'),
         url('fonts/creditCardFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#preenchimentoArea
{
    width: 30%;
    
    margin: 0 auto;
}

#cartaoArea
{
  
    width: 25%;
    margin: 0 auto;
}
#preenchimentoArea input
{
    display: inline-block;
    margin: 5px 2px;
}

#creditCardFrente
{
    border: 2px solid white;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    margin: 10px;
    background-image: linear-gradient(120deg, rgba(207, 203, 247) , rgb(104, 74, 236));
    position: fixed;
    z-index: 3;
    padding: 0;
}
#cardLogo
{
    width: 100px;
    display: block;
    position: relative;
    left: 62%;
    margin: 0;
    padding: 0;
}
#chipCard 
{
    width: 40px; 
    margin: 0 0 0 15px;
    padding: 0;
}
#flagArea
{
    display: inline-block;
    position: relative;
    left: 58%;
    width: 50px;
    height: 35px;
    margin: 0;
    padding: 0;
}
#flagArea img
{
    width: 100%;
    height:100% ;
    padding: 0;
}
.cardNum, #cardAreaNome, #cardVal0, #cardVal1
{
    margin: 0;
    display: inline-block;
    
}

.cardNum, #valArea
{
    font-family: 'credit_cardregular', monospace;
    font-size: 15px;
    color: white;
    font-weight: 1000;
}

#valArea 
{
    font-size: 10px;
}

#areaNum0,#nomeArea
{
    margin-left: 15px;
}
#valArea, #nomeArea
{
    display: inline-block;
    width: 50px;
    
}
#nomeArea 
{
    display: inline-block;
    width: 200px;
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#creditCardVerso
{
    border: 2px solid white;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    margin: 10px;
    background-image: linear-gradient(120deg, rgba(207, 203, 247) , rgb(104, 74, 236));
    position: fixed;
    z-index: 2;
}

#faixaPreta
{
    border: 2px solid black;
    margin: 10% 0 0 0;
    height: 20px;
    background-color: black
}

#faixaCod 
{
    margin-left: 1px;
    height: 20px;
    width: 80%;
    background-color: white;
}

#codArea 
{
    margin: 0;
    padding: 0;
    height: 20px;
    position: relative;
    left: 87%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}